.nav_outerdiv {
  display: block;
  max-width: 80%;
  align-content: center;
  padding: 40px;
  margin: 0 auto 0 auto;
}

.nav_radioBtn{
  display: inline-block;
  max-width: 10%;
  vertical-align: bottom;
}

.nav_list {
  display: inline-block;
  padding: 0 0 0 40px;
  max-width: 90%;
}

.nav_marketlist {
  display: block;
}

.nav_indicatorlist {
  display: block;
}

.chart_outerdiv {
  display: block;
  padding: 10px;
}

.inlineblock {
  display: inline-block;
}

.dropdown {
  margin: 20px 20px 10px 0;
}

.chart {
  display: inline-block;
  margin: 4px;
}

.addchart {
  display: table;
  border: 2px dashed #e7e7e7;
  border-radius: 3px;
  outline: none;
  margin: 4px;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10%;
  vertical-align: middle;
}

.addchartimg {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: large;
}

.editing:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.copyicon {
  margin-left: 10px;
}

.copyicon:hover {
  cursor: pointer;
}

.indexfooter{
  background-color: #fbfbfb8c;
  margin: 100px 0px 0px 0px;
  padding: 1.5rem 0;
  color: #8898aa;
  letter-spacing: 0;
  font-size: 0.875rem;
  font-family: "NanumSquare";
}

.nanum {
  font-family: "NanumSquare";
}

.nanumbold {
  font-family: "NanumSquare-Bold";
}

@font-face {
  font-family: NanumSquare;
  src: url('./res/NanumSquare.ttf'); 
} 

@font-face {
  font-family: NanumSquare-Bold;
  src: url('./res/NanumSquareBold.ttf'); 
} 
@font-face {
  font-family: NanumSquare-ExtraBold;
  src: url('./res/NanumSquareExtraBold.ttf'); 
} 
/* 검은 배경 131722*/