.nav_outerdiv {
  display: block;
  max-width: 80%;
  align-content: center;
  padding: 40px;
}

.chart_outerdiv {
  display: block;
  padding: 10px;
}

.inlineblock {
  display: inline-block;
}

.dropdown {
  margin-left: 40px;
}

.chart {
  display: inline-block;
  margin: 4px;
}

.addchart {
  display: table;
  border: 2px dashed #e7e7e7;
  border-radius: 3px;
  outline: none;
  margin: 4px;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10%;
  vertical-align: middle;
}

.addchartimg {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: large;
}

.editing:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}